$button-background: rgb(192, 192, 192);

.button {
  background-color: $button-background;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 5px;
  height: 30px;
  font-family:'Kara', sans-serif;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  &:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
  }
  &:disabled {
    color: gray;
    cursor: default;
    background-color: $button-background;
  }
}
