.joke-card {
  min-width: 280px;
  background-color: rgba(0,0,0,0.2);
  color: white;
  font-family: sans-serif;
  padding: 10px;
  margin: 5px;
}

.fave-btn {
  border: none;
  background-color: rgba(0,0,0,0);
  font-size: 20px;
  color: white;
  outline: none;
  &:hover {
    cursor: pointer;
    color: #fde82b;
  }
}

.favorite {
  color: #fde82b;
}
