body {
  background-color: rgb(29, 53, 63);
  width: 100%;
}

#joke-controls {
  display: flex;
  width: 30%;
  // height: 200px;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#new-joke-generator {
  display: flex;
  flex-direction: row;
}

#faves-btn {
  display: block;
  width: 100px;
}

#joke-card-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  flex-grow: 2;
  // min-width: 30%;
}
